.header1
		{
			background-color:#f0f0f0;
			padding-top:20px; padding-bottom:20px;
			font-family:arial;font-size:40px; font-weight:bold; color:lightgrey;text-align:center;
		}
		.content1
		{
			background-color:#ffffff;
			height:500px;
		}
		.footer1
		{
			background-color:#f0f0f0;
			padding:10px;
			height:200px;
		}
		.footer1 p
		{
			font-family:arial;font-size:12px; font-weight:normal; color:#282828;text-align:left;
		}